<script id="birthdayTemplate" type="text/x-jquery-tmpl">
  <li id="birthday-${index}">${name} - ${birthday}</li>
</script>

<script id="recommendationTemplate" type="text/x-jquery-tmpl">
  <div>
    <h3>${name}</h3>
    <img src="${image_url}" alt="${name}" />
    <span>${price}</span>
  </div>
</script>

<ul id="birthdayList">
</ul>
