<%= javascript_include_tag params[:controller] %>
<script id="friendTemplate" type="text/x-jquery-tmpl">
  <li class="listItem friend${index}">
    <div class="date">
      <span class="month">${month}</span>
      <span class="day">${day}</span>
    </div>
    <div class="friend">
      <div class="glint">
        <div class="friendImageContainer">
          <img class="friendImg" src="${pic_square}">
        </div>
      </div>
      <span>${name}</span>
    </div>
    <ul class="items">
    </ul>
  </li>
</script>

<script id="itemTemplate" type="text/x-jquery-tmpl">
  <li class="item${index}">
    <a href=${url} target="_blank">
      <div class="itemImage">
        <span class="itemHover">
          ${name}
        </span>
          <img class="itemImageIMG" src="${image_url}">
      </div>
      <div class="itemPrice">
        <span>$${price}</span>
      </div>
    </a>
  </li>
</script>

<div class="header"> 
  <div class="headerContainer"> 
    <div class="logo"> 
      <img src="images/giftlogo.png"> 
    </div> 
    <div class="likes">
      <div id="fb-root"></div> 
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-like" data-href="giftmonk.co" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
  </div>
</div>
<div style="clear:both"></div>
<div class="bottom">
  <div class="bodyContainer">
    <div class="bodyHeader">
      <img class="present-top" src="images/present.png">
      <span><%=h @user.first_name %>, These are your friend's birthdays for September</span>
      <div class="likeBody"></div>
    </div>
    <div class="listContainer">
      <ul>
        <li class="loading" style="height:175px;text-align:center;padding-top:20px;">
        <img style="margin-top:10px; width:75px;" src="/images/giftload.png">
        <h1 style="font-size:20px;line-height:50px;">Hey! We're loading your friends! Give us a few seconds :)</h1>

        <img style="width:75px;height:15px;" src="/images/12.gif">
        </li>
      </ul>
    </div>
    <div class="bottomoflist"></div>
  </div>

  <div class="footer">Copyright 2011. GiftMonk All rights reserved</div>
</div>
</div>
